.container-title{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.search-container button{
  margin: 2px;
}

.formElement{
  margin: 0 8px;
}

.btn{
  margin: 4px 4px;
}

div .btn{
  margin-top: 20px;
}

form{
  display: inline-block;
  margin-bottom: 20px;
  padding: 20px 0;
  margin-right: 0;
  margin-left: 0;
}

.formElement input {
  @apply text-black dark:text-slate-100
}

.formElement mat-select {
  @apply text-black dark:text-slate-100
}

mat-paginator{
  @apply bg-white text-black dark:bg-zinc-950 dark:text-white
}
