.title{
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: text-shadow 0.2s ease-in-out;
}

.title:hover{
  text-shadow: 0 0 10px #ffffff, 0 0 15px #ffffff80, 0 0 20px #ffffff20;
}

.title img{
  width: 30px;
  height: 30px;
  margin: 0 10px;
}

nav{
  background-color: black;
}

@media(max-width: 768px){
  nav{
    display: flex;
    flex-direction: column;
  }
}

a.route{
  display: inline-block;
  color: white;
  font-weight: bold;
  text-decoration: none;
  border: 1.5px solid white;
  margin: 2px 4px;
  width: 60px;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  background: linear-gradient(to right, black 100%, white 100%);
}

@media(max-width: 768px){
  a.route{
    display: flex;
    flex-direction: column;
    width: 300px;
  }
}

a.route:hover{
  color: black;
  background: linear-gradient(to right, black 0%, white 0%);
  animation: gradientAnimation .15s ease;
}

#nav-principal{
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.anim-gradient{
  animation: gradientAnimation .15s ease;
}

@keyframes gradientAnimation {
  0% {
    background: linear-gradient(to right, black 100%, white 100%);
    color: #ffffff;
  }
  10% {
    background: linear-gradient(to right, black 90%, white 90%);
    color: #dddddd;
  }
  20% {
    background: linear-gradient(to right, black 80%, white 80%);
    color: #cccccc;
  }
  30% {
    background: linear-gradient(to right, black 70%, white 70%);
    color: #aaaaaa;
  }
  40% {
    background: linear-gradient(to right, black 60%, white 60%);
    color: #999999;
  }
  50% {
    background: linear-gradient(to right, black 50%, white 50%);
    color: #888888;
  }
  60% {
    background: linear-gradient(to right, black 40%, white 40%);
    color: #666666;
  }
  70% {
    background: linear-gradient(to right, black 30%, white 30%);
    color: #555555;
  }
  80% {
    background: linear-gradient(to right, black 20%, white 20%);
    color: #444444;
  }
  80% {
    background: linear-gradient(to right, black 10%, white 10%);
    color: #222222;
  }
  100% {
    background: linear-gradient(to right, black 0%, white 0%);
    color: #000000;
  }
}

.rotation{
  animation: rotationAnimation .5s ease-in-out;
}

.noRot{
  animation: rotationAnimationInv .5s ease-in-out;
}

@keyframes rotationAnimation{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

@keyframes rotationAnimationInv{
  0%{
    transform: rotate(360deg);
  }
  100%{
    transform: rotate(0deg);
  }
}
